<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
	</array>
	<key>AUTH_BASE_URL</key>
	<string>$(AUTH_BASE_URL)</string>
	<key>TOKEN_BASE_URL</key>
	<string>$(TOKEN_BASE_URL)</string>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>STORAGE_BASE_URL</key>
	<string>$(STORAGE_BASE_URL)</string>
	<key>AUTH_API_KEY</key>
	<string>$(AUTH_API_KEY)</string>
</dict>
</plist>
